<?xml version="1.0" encoding="UTF-8"?>
<Setting>
    <ConnectionsList password="1234" url="localhost:5432/manuzio" user="manu"/>
    <ConnectionsList password="1234" url="127.0.0.1:5432/manuzio" user="manu"/>
    <SchemaList>
        <Book value="3"/>
        <Chapter value="3"/>
        <Epilogue value="3"/>
        <Word value="1"/>
        <Sentence value="0"/>
        <Prologue value="3"/>
        <schema-url value="localhost:5432/manuzio"/>
        <Paragraph value="3"/>
    </SchemaList>
    <Language lang="it"/>
</Setting>
